<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425154750765-tr2u0poegl6kvg3jmogej65crip10e7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425154750765-tr2u0poegl6kvg3jmogej65crip10e7d</string>
	<key>API_KEY</key>
	<string>AIzaSyB61vG9E2h3NSWXDBBLJlYRW2R-i1VRCi8</string>
	<key>GCM_SENDER_ID</key>
	<string>425154750765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digimeds</string>
	<key>PROJECT_ID</key>
	<string>phoneverification-6099b</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneverification-6099b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425154750765:ios:0093fc6bc03057f7838ba4</string>
</dict>
</plist>